.title {
  display: flex;
  justify-content: center;
  width: 625px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  border-top: 1px solid #d9dde8;
}

.form-wrapper {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;

  button {
    width: 265px;
    height: 48px;
  }
}

.time-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 16px;

  input {
    width: 100%;
  }
}

.paired-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
