.tools-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    height: 48px;
    width: 400px;
  }

  button {
    height: 48px;
  }
}

.left-container {
  display: flex;
  align-items: flex-start;
}
